.note-general-div {
    margin: 0% 20%;
    background-color: floralwhite;
    margin-top: 0px;
    height: 81vh;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.note-title {
    color: darkslategrey;
    font-family: system-ui;
    font-weight: 900;
    font-size: 25px;
}

.note-date {
    color: darkslategrey;
    font-family: system-ui;
    font-weight: 900;
    font-size: 20px;
}

.note-text {
    color: darkslategrey;
    font-family: system-ui;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
}

.note-edit-button{
    background-color: cadetblue;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 20px;
    margin: 30px 5px;
    color: white;
    font-family: system-ui;
    font-weight: 700;
    text-transform: uppercase;
}

.note-textArea{
    border-width: 1px;
    border-radius: 5px;
    border-color: grey;
    height: 33vh;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    color: darkslategrey;
    font-family: system-ui;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
}

.note-input{
    border-width: 1px;
    border-radius: 5px;
    border-color: grey;
    width: 35%;
    color: darkslategrey;
    font-family: system-ui;
    font-weight: 900;
    font-size: 25px;
}